@import url(fontawesome-all.min.css);

body {
	background-image: url(images/cool-background.png);
}

.mainHead {
	height: 200px;
	width: 200px;
	bottom: 10%;
	position: absolute;


}

h1, h2, h3 {
	color: mintcream;
	text-align: left;
	font-family: "Courier New", monospace;
}